* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

body {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  background-color: #212529;
  color: aliceblue;
}
